@using Common.ViewModels
@model LoginViwModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/Admin/assets/images/favicon.png">
    <title>Materialart Admin Template</title>
    <link href="/Admin/dist/css/style.css" rel="stylesheet">
    <!-- This page CSS -->
    <link href="/Admin/dist/css/pages/authentication.css" rel="stylesheet">
    <link href="/Admin/assets/libs/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" type="text/css">
    <!-- This page CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="rtl">
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">Material Admin</p>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background: url(/Admin/assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box">
                <div id="loginform">
                    <div class="logo">
                        <span class="db"><img src="/Admin/assets/images/logo-icon.png" alt="logo" /></span>
                        <h5 class="font-medium m-b-20">ورود به ادمین</h5>
                    </div>
                    <!-- Form -->
                    <div class="row">
                        <form class="col s12" action="/Admin/Login" method="post">
                            <!-- email -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <input asp-for="UserName" id="userName" type="text" class="validate" required>
                                    <label for="email">نام کاربری</label>
                                </div>
                            </div>
                            <!-- pwd -->
                            <div class="row">
                                <div class="input-field col s12">
                                    <input asp-for="Password" id="password" name="password" type="password" class="validate" required>
                                    <label for="password">کلمه عبور</label>
                                </div>
                            </div>
                            <!-- pwd -->
                            <div class="row m-t-5">
                                <div class="col s7">
                                    <label>
                                        <input asp-for="RememberMe" type="checkbox" />
                                        <span>مرا به خاطر بسپار</span>
                                    </label>
                                </div>
                            </div>
                            <input type="hidden" asp-for="ReturnUrl" value="@ViewBag.ReturnUrl" />
                            <!-- pwd -->
                            <div class="row m-t-40">
                                <div class="col s12">
                                    <button class="btn-large w100 blue accent-4" type="submit">ورود</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="/Admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/Admin/dist/js/materialize.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $('.tooltipped').tooltip();
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
        $(function () {
            $(".preloader").fadeOut();
        });
    </script>
    <script src="/Admin/assets/libs/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="/Admin/assets/libs/sweetalert2/sweet-alert.init.js"></script>
    <script>
        debugger;
        var message = "@ViewBag.ErrorMessage";
        swal("خطا", message , "warning")
                .then((value) => { });
    </script>
</body>

</html>
