@{
    ViewData["Title"] = "CreateExcel";
    Layout = null;
}
<p>آیا از درخواست فایل اکسل با  فیلترهای مشخص شده مطمئن هستید؟</p>
<br />
<a class="waves-effect waves-light btn modal-trigger green" style="float:left;margin-bottom:2.5%" href="/Admin/Product/CreateExcelConfirmed">بلی</a>
<a class="waves-effect waves-light btn modal-trigger blue" style="float:left;margin-bottom:2.5%;margin-left:2%" href="/Admin/Product">خیر</a>

