@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<p>آیا از حذف همه فایل ها مطمئن هستید؟</p>
<br />
<a class="waves-effect waves-light btn modal-trigger red" style="float:left;margin-bottom:2.5%" href="/Admin/Product/DeleteAllExcelsConfirmed">بلی</a>
<a class="waves-effect waves-light btn modal-trigger blue" style="float:left;margin-bottom:2.5%;margin-left:2%" href="/Admin/Product/GetExcels">خیر</a>