
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="/Admin/assets/libs/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" type="text/css">
<div class="row">
    @await Component.InvokeAsync("BestSellingProductsInIndex")
    <div class="col l3">
        <div class="card primary-gradient">
            <div class="card-content">
                <h4 class="card-title white-text">کل فروش ها</h4>
                <div class="d-flex align-items-center">
                    <div>
                        <h6 id="AllPaysPrice" class="font-light m-b-0 white-text"><i class="ti-angle-up white-text"></i></h6>
                    </div>
                    <div class="ml-auto">
                        <div id="spark8"><canvas width="67" height="40" style="display: inline-block; width: 67px; height: 40px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card success-gradient">
            <div class="card-content">
                <h4 class="card-title">مبلغ کل کالاهای ارسال نشده</h4>
                <div class="d-flex align-items-center">
                    <div>
                        <h6 id="notSendedPrice" class="font-light m-b-0"><i class="ti-angle-down "></i></h6>
                    </div>
                    <div class="ml-auto">
                        <div id="spark9"><canvas width="67" height="40" style="display: inline-block; width: 67px; height: 40px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card warning-gradient">
            <div class="card-content">
                <h4 class="card-title white-text">تعداد سبد های ارسال نشده</h4>
                <div class="d-flex align-items-center">
                    <div>
                        <h6 id="notSendedCartPayings" class="font-light m-b-0 white-text"><i class="ti-angle-up white-text"></i></h6>
                    </div>
                    <div class="ml-auto">
                        <div id="spark10"><canvas width="67" height="40" style="display: inline-block; width: 67px; height: 40px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("CartPayingsInIndex")

<div class="row">
    @await Component.InvokeAsync("CommentsInIndex", new { categoryType = Common.Enums.Enums.CategoryType.Product })
    @await Component.InvokeAsync("CommentsInIndex", new { categoryType = Common.Enums.Enums.CategoryType.BlogPage })
</div>

@section scripts
{
    <script src="/Admin/assets/libs/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="/Admin/assets/libs/sweetalert2/sweet-alert.init.js"></script>

    <script src="~/js/Chart.js"></script>
    <script>
        $(document).ready(function () {
            $.get("/Admin/Cart/GetAllPaysPrice",
                function (data, textStatus, jqXHR) {
                    $("#AllPaysPrice").text(data + " تومان");
                },
            );

            $.get("/Admin/Cart/GetNotSendedPrice",
                function (data, textStatus, jqXHR) {
                    $("#notSendedPrice").text(data + " تومان");
                },
            );

            $.get("/Admin/Cart/GetNotSendedCount",
                function (data, textStatus, jqXHR) {
                    $("#notSendedCartPayings").text(data + " عدد");
                },
            );

            function GetPriceByDate(day) {
                $.get("/Admin/Cart/GetPriceByDate", { dayAgo: day },
                    function (data, textStatus, jqXHR) {
                        return data;
                    },
                    "json"
                );
            }
        });
    </script>
}