<aside class="left-sidebar">
    <ul id="slide-out" class="sidenav ps ps--theme_default ps--active-y active" data-sidebarbg="skin5" data-ps-id="e9a70514-b6c3-b9cd-227c-9f947fd2530b">

        <li style="display: block;">
            <ul class="collapsible">
                <li class="small-cap"><span class="hide-menu">پنل مدیریت</span></li>

                <li>
                    <a href="javascript: void(0);" class="collapsible-header has-arrow" tabindex="0"><i class="material-icons">equalizer</i><span class="hide-menu">دسته بندی ها</span></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="/Admin/ProductCategories"><i class="material-icons">adjust</i><span class="hide-menu">محصولات</span></a></li>
                            <li><a href="/Admin/BlogCategories"><i class="material-icons">adjust</i><span class="hide-menu">وبلاگ</span></a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="javascript: void(0);" class="collapsible-header has-arrow" tabindex="0"><i class="material-icons">equalizer</i><span class="hide-menu">صفحات</span></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="/Admin/Product/Index/1"><i class="material-icons">adjust</i><span class="hide-menu">محصولات</span></a></li>
                            <li><a href="/Admin/BlogPages/Index/1"><i class="material-icons">adjust</i><span class="hide-menu">وبلاگ</span></a></li>
                        </ul>
                    </div>
                </li>

            </ul>
        </li>
        <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div>
        <div class="ps__scrollbar-y-rail" style="top: 0px; height: 789px; right: 244px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 252px;"></div></div>
    </ul>
</aside>



