@using Common.Dto
@model ResultGetProductByFilterDto

<div class="container">

    <!--  ==========  -->
    <!--  = Title =  -->
    <!--  ==========  -->
    <div class="row">
        <div class="span12">
            <div class="main-titles lined">
                <h2 class="title"><span class="light">محصولات</span> جدید فروشگاه</h2>
            </div>
        </div>
    </div> <!-- /title -->

    <div class="row popup-products blocks-spacer">

        @if (Model.Products.Count() != 0)
        {
            for (int i = 0; i < Model.Products.Count(); i++)
            {
                <!--  ========== -->
                <!--  = Product = -->
                <!--  ========== -->
                <div class="span3">
                    <div class="product">
                        <div class="product-img">
                            <div class="picture">
                                <img src="@Model.Products[i].Image" alt="" width="540" height="374" />
                                <div class="img-overlay">
                                    <a href="/Product?id=@Model.Products[i].Id" class="btn more btn-primary">توضیحات بیشتر</a>
                                    <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
                                </div>
                            </div>
                        </div>
                        <div class="main-titles no-margin">
                            <h4 class="title">@Model.Products[i].Price</h4>
                            <h5 class="no-margin">@Model.Products[i].Name</h5>
                        </div>
                        <p class="desc">@Model.Products[i].ShortDescription</p>
                        <p class="center-align stars">
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star stars-clr"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>
                            <span class="icon-star"></span>

                        </p>
                    </div>
                </div><!-- /product -->
                @if (i == 3)
                    {
                        <div class="clearfix"></div>
                    }
            }
        }
    </div>
</div>

