<form class="col s12" action="/Admin/Users/Create" method="post">
    <div class="row">
        <div class="input-field col s6">
            <input required name="userName" type="text">
            <label for="UserName" class="">نام کاربری :</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input required name="email" type="text">
            <label for="Email" class="">ایمیل :</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input required name="password" type="password">
            <label for="Password" class="">کلمه عبور : </label>
        </div>
    </div>

    <div class="row">
        <input type="submit" value="افزودن" class="waves-effect waves-light btn green" />
    </div>
</form>