
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin:5% auto; align-content:center;width:400px">
    <div class="modal-header">
        <h3 id="registerModalLabel"><span class="light">تغییر کلمه عبور</span></h3>
    </div>
    <div class="modal-body">
        <form method="post" action="/RestPassword">
            <div class="control-group">
                <label class="control-label hidden shown-ie8" for="currentPasswordInput">کلمه عبور</label>
                <div class="controls">
                    <input type="text" class="input-block-level" name="currentPassword" id="currentPasswordInput" placeholder="کلمه عبور">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label hidden shown-ie8" for="newPasswordInput">کلمه عبور جدید</label>
                <div class="controls">
                    <input type="text" class="input-block-level" name="newPassword" id="newPasswordInput" placeholder="کلمه عبور جدید">
                </div>
            </div>
            <button type="submit" class="btn btn-danger input-block-level bold higher">
                ثبت
            </button>
        </form>
    </div>
</div>

