
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Admin/assets/libs/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" type="text/css">

<div style="margin:5% auto; align-content:center;width:400px">
    <div class="modal-header">
        <h3 id="registerModalLabel"><span class="light">تغییر کلمه عبور</span></h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="control-group">
                <label class="control-label hidden shown-ie8" for="currentPassword">کلمه عبور</label>
                <div class="controls">
                    <input type="password" class="input-block-level" name="currentPassword" id="currentPassword" placeholder="کلمه عبور">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label hidden shown-ie8" for="newPassword">کلمه عبور جدید</label>
                <div class="controls">
                    <input type="password" class="input-block-level" name="newPassword" id="newPassword" placeholder="کلمه عبور جدید">
                </div>
            </div>
            <button id="btnSend" class="btn btn-danger input-block-level bold higher">
                ثبت
            </button>
        </div>
    </div>
</div>

@section scripts
{
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="/Admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/Admin/dist/js/materialize.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script src="/Admin/assets/libs/sweetalert2/dist/sweetalert2.min.js"></script>

    <script>
        $(document).ready(function () {
            //Success Message
            $('#btnSend').click(function () {
                var data = new FormData();

                data.append("newPassword", $("#newPassword").val());
                data.append("currentPassword", $("#currentPassword").val());

                $.ajax({
                    type: "POST",
                    processData: false,
                    contentType: false,
                    cache: false,
                    url: "/ResetPassword",
                    data: data,
                    success: function (response) {
                        debugger;
                        if (response == true) {
                            swal("موفق", "کلمه عبور با موفقیت تغییر یافت.", "success")
                                .then((value) => {
                                    window.location.href = "/Dashboard";
                                });
                        }
                        else {
                            swal("خطا", "خطایی رخ داده است. لطفا مجددا امتحان کنید.", "warning")
                                .then((value) => {
                                    location.reload();
                                });
                        }
                    }
                });
            });
        });
    </script>
}