
<div class="row">
    <form class="col s12" action="/Admin/NewsBulletin/AddEmail" method="post">
        <div class="row">
            <div class="input-field col s6">
                <input required name="email" type="email">
                <label for="email" class="">آدرس ایمیل : </label>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="افزودن" class="waves-effect waves-light btn green" />
        </div>
    </form>
</div>