@using Application.Services.Admin.NewsBulletin.Queries.GetAllNews
@model GetNewsDto
@{
    ViewData["Title"] = "News";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>خبر ها</h3>
<table dir="rtl" style="text-align:right">
    <thead>
        <tr>
            <th>
                <a class="waves-effect waves-light btn modal-trigger green" href="/Admin/NewsBulletin/SendNews">ارسال ایمیل جدید</a>
                <a class="waves-effect waves-light btn modal-trigger green" href="#modal1" id="btnCreateNewCategory">افزودن ایمیل جدید</a>
            </th>
        </tr>
        <tr>
            <th>تصویر</th>
            <th>عنوان</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            foreach (var item in Model.News)
            {
                <tr>
                    <td>@item.Subject</td>
                    <td>
                        <a class="waves-effect waves-light btn modal-trigger blue" href="">مشاهده</a>
                    </td>
                </tr>
            }
    </tbody>
</table>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 id="title">Modal Header</h4>
        <p id="body">A bunch of text</p>
    </div>
</div>

@section scripts
{
    <script>
        $("#btnCreateNewCategory").click(function () {

            $.get("/Admin/NewsBulletin/AddEmail", function (result) {

                $("#title").html("افزودن  ایمیل جدید");
                $("#body").html(result)
            });

        });
    </script>
}