@{
    ViewData["Title"] = "SendNews";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <form class="formValidate" id="formValidate" novalidate="novalidate">
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="subject" class="">عنوان*</label>
                            <input id="subject" name="subject" type="text" data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                        </div>
                        <div class="input-field col s12">
                            <textarea id="text" name="text" data-error=".errorTxt3"></textarea>
                            <div class="errorTxt3"></div>
                        </div>

                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light right submit green" type="submit" name="action">ارسال</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/ckeditor/adapters/jquery.js"></script>

    <script src="/Admin/assets/extra-libs/prism/prism.js"></script>
    <script src="/Admin/dist/js/pages/forms/jquery.validate.min.js"></script>
    <script>

        $(function () {
            $('#text').ckeditor();
        });

        $("#formValidate").validate({
            rules: {
                subject: {
                    required: true,
                },
                text: {
                    required: true,
                },
            },
            //For custom messages
            messages: {
                subject: {
                    required: "عنوان را وارد کنید",
                },
                text: {
                    required: "متن اصلی  را وارد کنید",
                },
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function () {
                var formdata = new FormData();
                formdata.append("subject", $("#subject").val());
                formdata.append("text", $("#text").val());

                $.ajax({
                    type: "POST",
                    processData: false,
                    contentType: false,
                    cache: false,
                    enctype: "multipart/form-data",
                    url: "/Admin/NewsBulletin/SendNews",
                    data: formdata,
                    success: function (response) {
                        window.location.href = "/Admin/NewsBulletin/News";
                    }
                });
            }
        });
    </script>
}