@{
    ViewData["Title"] = "CreateSlider";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <form class="formValidate" id="formValidate" novalidate="novalidate">
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="url" class="">مسیر(url)*</label>
                            <input id="url" name="url" type="text" data-error=".errorTxt1">
                            <div class="errorTxt1"></div>
                        </div>
                        <div class="input-field col s12 file-field">
                            <div class="btn cyan">
                                <span>تصویر</span>
                                <input type="file" id="image" name="image" data-error=".errorTxt2">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                            <div class="errorTxt2"></div>
                        </div>

                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light right submit green" type="submit" name="action">افزودن</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="/Admin/assets/extra-libs/prism/prism.js"></script>
    <script src="/Admin/dist/js/pages/forms/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#formValidate").validate({
                rules: {
                    url: {
                        required: true,
                    },
                    image: {
                        required: true,
                    },
                },
                //For custom messages
                messages: {
                    url: {
                        required: "یک مسیر وارد کنید.",
                    },
                    image: {
                        required: "یک تصویر انتخاب کنید",
                    },
                },
                errorElement: 'div',
                errorPlacement: function (error, element) {
                    var placement = $(element).data('error');
                    if (placement) {
                        $(placement).append(error)
                    } else {
                        error.insertAfter(element);
                    }
                },
                submitHandler: function () {
                    var formdata = new FormData();
                    formdata.append("url", $("#url").val());
                    formdata.append("image", document.getElementById("image").files[0]);

                    $.ajax({
                        type: "POST",
                        processData: false,
                        contentType: false,
                        cache: false,
                        enctype: "multipart/form-data",
                        url: "/Admin/Slider/Create",
                        data: formdata,
                        success: function (response) {
                            window.location.href = "/Admin/Slider";
                        }
                    });
                }
            });
        });
    </script>
}