@model List<string>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>گزارشات</h3>
<div>
    <table>
        <thead>
            <tr>
                <th style="width:75%">
                    <a class="waves-effect waves-light btn modal-trigger green" id="btnCreate">افزودن</a>
                </th>
            </tr>
            <tr>
                <th style="width:60%">نام فایل</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width:60%">@item</td>
                    <td>
                        <a class="waves-effect waves-light btn modal-trigger green" href="/Excels/@item" download>دانلود</a>
                    </td>
                    <td>
                        <a class="waves-effect waves-light btn modal-trigger red" href="/Admin/Report/Delete?fileName=@item">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(document).ready(function()
        {
           $("#btnCreate").click(function(e){
               $.get("/Admin/Report/Create",function(result){
                   window.location.href = "/Excels/" + result;
               })
           })
        });
    </script>
}